<!-- This is Login View. -->
<div id="angularMaterial">
<h2>Login / Create Account Page</h2>

	<div ng-hide="authData">
		<button ng-click="userLogin('facebook')">Login With Facebook</button>
        <button ng-click="userLogin('twitter')">Login With Twitter</button>
	</div>

</div>
