<!-- This is the main Account View. -->
<div id="angularMaterial">
<h2>Edit Your Profile Page</h2>

<div class="row">

  <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
        <div ng-if="address">
          <h4>You're registered Address</h4>
          <p>
            <strong>Street:</strong> {{ address.streetaddress }}<br/>
            <strong>City:</strong> {{ address.city }}<br/>
            <strong>State:</strong> {{ address.state }}<br/>
            <strong>Zip:</strong> {{ address.zip }}<br/>
          </p>
          <p> {{ getMyLastName() }} Maybe? {{ last_name }}</p>
        </div>

        <div ng-if="!address">
          <h4>You're address is not registered. Would you please consider registering it?</h4>
        </div>
      </div> <!--/cell -->
    </div> <!-- /row -->

    <div class="row">
      <div class="col-md-12">
        <form novalidate class="form-inline">
          <fieldset>
            <div class="form-group">
              <label class="sr-only" for="streetAddress">Street Address</label>
              <input type="text" class="form-control" id="streetAddress" placeholder="Street Address" ng-model="profile.streetaddress">
            </div>

            <div class="form-group">
              <label class="sr-only" for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="City" ng-model="profile.city">
            </div>

            <div class="form-group">
              <label class="sr-only" for="state">State</label>
              <input type="text" class="form-control" id="city" placeholder="State" ng-model="profile.state">
            </div>

            <div class="form-group">
              <label class="sr-only" for="zip">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder="Zip" ng-model="profile.zip">
            </div>

            <input class="btn btn-default" type="button" ng-click="addressUpdate(profile)" value="Save" />
          </fieldset>
        </form> <!-- /form -->
      </div><!-- /cell -->
    </div> <!-- /row -->

  </div>

  <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
        <div ng-if="phone">
          <p>
            <strong>Personal Phone:</strong> {{ phone.personal }}<br/>
            <strong>Work Phone:</strong> {{ phone.work }}<br/>
          </p>
        </div>

        <div ng-if="!phone">
          <h4>You have no phone numbers registered. Would you please consider registering one?</h4>
        </div>
      </div><!-- /cell -->
    </div><!-- /row -->

    <div class="row">
      <div class="col-md-12">
        <form novalidates class="form-inline">
          <fieldset>
            <div class="form-group">
              <label class="sr-only" for="personalPhone">Personal</label>
              <input type="text" class="form-control" id="personalPhone" placeholder="Personal Phone" ng-model="phone.personal">
            </div>

            <div class="form-group">
              <label class="sr-only" for="workPhone">Work</label>
              <input type="text" class="form-control" id="workPhone" placeholder="Work Phone" ng-model="phone.work">
            </div>

            <input class="btn btn-default" type="button" ng-click="phoneUpdate(phone)" value="Save" />
          </fieldset>

      </form><!-- /form -->
      </div><!-- /cell -->
    </div><!-- /row -->

  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h4>Join A Group</h4>
    <form novalidate class="form-inline">
      <input type="hidden" name="user.id" value="{{ user.key }}" ng-model="user.id">
      <div class="form-group">
        <label class="sr-only" for="groupName">Group</label>
        <div class="input-group">
          <select class="form-control" id="groups" ng-model="user.group_id" ng-options="key as value.name for (key, value) in groupList">
          </select>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Update User" ng-click="updateUser(user)">
    </form>
  </div>
  <div class="col-md-6">
    <h4>Groups Your a Member of</h4>
    <ul id="adminUsersGroups" ng-repeat="group in user.group">
      <li>
        <form novalidate class="form-inline">
          <input type="hidden" name="group.group_id" value="{{ group.id }}" ng-model="group.id">
          {{ group.name }}
          <input type="submit" class="btn btn-danger brn-xs" value="X" ng-click="deleteGroupFromUser(user, group)">
        </form>
      </li>
    </ul>
  </div>

</div>

</div>
