<!-- This is the main Account View. -->
<div id="angularMaterial">
<h2>Edit Your Profile Page</h2>

  <div>
    <div ng-if="address">
      <h4>You're registered Address</h4>
      <p>
        <strong>Street:</strong> {{address.streetaddress }}<br/>
        <strong>City:</strong> {{ address.city }}<br/>
        <strong>State:</strong> {{ address.state }}<br/>
        <strong>Zip:</strong> {{ address.zip }}<br/>
      </p>
    </div>
    <div ng-if="!address">
    <h4>You're address is not registered. Would you please consider registering it?</h4>

    </div>
  </div>

      <form novalidate class="simple-form">
        Street Address: <input type="text" ng-model="profile.streetaddress" /><br />
        City: <input type="text" ng-model="profile.city" /><br />
        State: <input type="text" ng-model="profile.state" />
        Zip: <input type="text" ng-model="profile.zip" />
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="addressUpdate(profile)" value="Save" />
      </form>

</div>
