<div id="angularMaterial">

    <div class="row" >
        <div class="col-md-9">
            <h2>Home Page</h2>
            <p>Hello, {{ displayName }}</p>
        </div>
        <div ng-include="'shared/sidebar_login.html'"></div>
    </div>

</div>
