<div class="update_item" ng-class="{'read' : message.read, 'bookmarked' : message.bookmarked }">
      <img ng-src="{{ message.sender_image }}" class="profile_image" />
      <div class="content_area">
        <h1 class="update_subject">{{ message.subject }}</h1>
        <div class="update_body">
          <div class="synopsis">{{ message.synopsis | htmlToPlaintext }}</div>
          <div class="bodytext hidden">
            <div ng-bind-html="message.body"></div>
          </div>
        </div>
      </div>
      <div class="item_actions">
        <img inbox-collapse src="/images/inbox-collapse.png" alt="close" class="inbox-collapse" />
        
        <label ng-click="readThis(0, message)" class="" ng-class="message.read ? 'inbox-mark-unread' : 'inbox-mark-read'">Mark as unread</label>
        <span class="markread" style="display:none" ng-click="readThis(1, message)"></span>

        <label ng-if="message.bookmarked == false" ng-click="bookmarkThis(1, message)" class="inbox-bookmark">Bookmark</label>
        <label ng-if="message.bookmarked == true" ng-click="bookmarkThis(0, message)" class="inbox-bookmark">Remove Bookmark</label>

      </div>
      <div class="contextual_control">
        <svg version="1.1" inbox-menu class="inbox-menu" ng-click="readThis(1, message)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 19 5" enable-background="new 0 0 19 5" xml:space="preserve">
        <circle fill="#7D7D7D" cx="2.5" cy="2.5" r="2.5"/>
        <circle fill="#7D7D7D" cx="9.5" cy="2.5" r="2.5"/>
        <circle fill="#7D7D7D" cx="16.5" cy="2.5" r="2.5"/>
        </svg>
      </div>
    </div>