<div class="col-md-3" ng-controller="LoginCtrl">
    <div ng-if="loggedIn == true">
        <div class="row">
            <div class="col-md-3">
                <div class="photo">
                    <img class="img-responsive" src="{{ profilePhoto }}">
                </div>
            </div>
            <div class="col-md-9">
                <p>Hello, {{ displayName }}</p>
                <button ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div ng-if="loggedIn == false">
        <div class="row">
            <div class="col-md-12">
                <p>Welcome, please log in.</p>
                <button ng-click="userLogin('facebook')">Login With Facebook</button>
                <button ng-click="userLogin('twitter')">Login With Twitter</button>
            </div>
        </div>
    </div>
</div>
