<div class="col-md-3" ng-controller="LoginCtrl">
    <div ng-show="loggedIn">
        <p>Hello, {{ displayName }}</p>
        <button ng-click="logout()">Logout</button>
    </div>
    <div ng-hide="loggedIn">
        <p>Welcome, please log in.</p>
        <button ng-click="userLogin('facebook')">Login With Facebook</button>
        <button ng-click="userLogin('twitter')">Login With Twitter</button>
    </div>
</div>
