<!-- This is the 1st Step after account creation. -->
<div id="angularMaterial">
<h2>Add your e-mail.</h2>

	<div ng-show="authData">

		<form  ng-submit="step1()" name="myForm">
		    Email: <input type="email" name="input" ng-model="email" required>
		    
		    <input type="submit" id="submit" value="Submit Email Address." />
		    
		    <span class="error" ng-show="myForm.input.$error.required">
		      Required!</span>
		    <span class="error" ng-show="myForm.input.$error.email">
		      Not valid email!</span>
		    <tt>text = {{email.text}}</tt><br/>
		    <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
		    <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
		    <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
		    <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
		    <tt>myForm.$error.email = {{!!myForm.$error.email}}</tt><br/>
		 </form>

	</div>
	

</div>