<!-- This is the main Account View. -->
<div id="angularMaterial">
<h2>Admin Page</h2>

	<div ng-show="authData">
		<div>
            <p>Hello, {{ displayName }}</p>
            <button ng-click="auth.$unauth()">Logout</button>
        </div>

        <ul ng-repeat="user in users">
            <li>Name: {{user.full_name}} | Provider: {{ user.provider }}</li>
        </ul>

	</div>
	<div ng-hide="authData">
		<p>Welcome, please log in.</p>
		<button ng-click="facebookLogin()">Login With Facebook</button>
		<button ng-click="twitterLogin()">Login With Twitter</button>
	</div>
</div>
