<!-- This is the main Account View. -->
<div id="angularMaterial">

    <div class="row">
        <div class="col-md-9">
            <h2>Admin Page</h2>
            <p>List Users</p>

            <section id="adminUsers" ng-model="userList" ng-repeat="user in userList">

              <div user-item
                   user="user"
                   delete="deleteGroupFromUser"
                   update="updateUser",
                   groups="groupList"
                   index="{{$index}}">
              </div>


            </section>
        </div>
        <div ng-include="'shared/sidebar_login.html'"></div>
    </div>

</div>
