<!-- This is the main Account View. -->
<div id="angularMaterial">

    <div class="row">
        <div class="col-md-9">
            <h2>Admin Page</h2>
            <p>List Users</p>

            <ul ng-model="userList" ng-repeat="user in userList">
                <li>
                  <form novalidate class="form-inline">
                    <input type="hidden" name="user.id" value="{{ user.id }}" ng-model="user.id">
                    <img width="75" src="{{ user.photo }}">  Name: {{ user.full_name }} | Provider: {{ user.provider }}
                    <div class="form-group">
                      <label class="sr-only" for="groupName">Group</label>
                      {{ groupList }}
                      <div class="input-group">
                        <select id="user.groups" ng-model="user.group_id" ng-options="name for (id, name) in groupList">

                        </select>
                      </div>
                    </div>
                  </form>
                </li>
            </ul>
        </div>
        <div ng-include="'shared/sidebar_login.html'"></div>
    </div>

</div>
