<!-- This is the main Account View. -->
<div id="angularMaterial">

    <div class="row">
        <div class="col-md-9">
            <h2>Admin Page</h2>
            <p>List Users</p>

            <div class="row">
              <div class="col-md-12">
                <label class="sr-only" for="groupName">Filter By Group</label>
                <div class="input-group">
                  <select class="form-control" ng-model="group" ng-options="key as value.name for (key, value) in groupList">
                  </select>
                  <p>Filter by: {{ group }}</p>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <section id="adminUsers" ng-model="userList" ng-repeat="user in userList | filter:group">
                  <p>user.group: {{ user.group }}</p>
                  <div user-item
                       user="user"
                       group="group"
                       delete="deleteGroupFromUser"
                       update="updateUser",
                       groups="groupList"
                       index="{{$index}}">
                  </div>
                </section>
              </div>
            </div>
        </div>
        <div ng-include="'shared/sidebar_login.html'"></div>
    </div>

</div>
